# Server Config
PORT=3000

# Database
# Connect to your local or cloud PostgreSQL instance
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Solana Config
SOLANA_RPC_URL="https://api.devnet.solana.com"
SOLANA_PROGRAM_ID="8UF83GAK1UZ3vS3wxuqa2bMEgJ2QfvUaS3EQsM5i5oaR"
ORACLE_PRIVATE_KEY=YourBase58EncodedPrivateKeyHere
SOLANA_KEYPAIR_PATH="./secrets/oracle-keypair.json"

# Solana REC Token Mint
TOKEN_MINT_PUBLIC_KEY="RECtok11111111111111111111111111111111111"
